.page {
    padding-bottom: 90px;
    background-color: #efefef;
}

.page__promotion {
    margin-bottom: 40px;
}

.page__special {
    max-width: 1160px;
    margin: 0 auto 35px;
    padding: 40px 10px;
}

.page__actions {
    max-width: 1160px;
    margin: 0 auto;
}
