@use "./templates";

.top-nav {
    @extend %nav-template;
    padding: 8.5px 10px 8px;
    background-color: #efefef;
}

.top-nav__link {
    padding: 8.5px 15px 8px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    line-height: 1.143em;
    text-align: center;
    text-decoration: none;
    color: #333333;
}
